<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.newland.mall.entity.Address">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="address_detail" jdbcType="VARCHAR" property="addressDetail"/>
        <result column="area_code" jdbcType="CHAR" property="areaCode"/>
        <result column="postal_code" jdbcType="CHAR" property="postalCode"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="is_default" jdbcType="BIT" property="isDefault"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, user_id, province, city, county, address_detail, area_code, postal_code,
        tel, is_default, create_time, update_time, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_address
        where id = #{id,jdbcType=BIGINT} and deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_address
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="deleteLogicalByPrimaryKey">
        update mall_address set deleted = 1 where id=#{id}
    </update>
    <insert id="insert" parameterType="com.newland.mall.entity.Address">
        insert into mall_address (id, name, user_id,
        province, city, county,
        address_detail, area_code, postal_code,
        tel, is_default, create_time,
        update_time, deleted)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
        #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR},
        #{addressDetail,jdbcType=VARCHAR}, #{areaCode,jdbcType=CHAR}, #{postalCode,jdbcType=CHAR},
        #{tel,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.newland.mall.entity.Address">
        insert into mall_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="county != null">
                county,
            </if>
            <if test="addressDetail != null">
                address_detail,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="postalCode != null">
                postal_code,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                #{county,jdbcType=VARCHAR},
            </if>
            <if test="addressDetail != null">
                #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=CHAR},
            </if>
            <if test="postalCode != null">
                #{postalCode,jdbcType=CHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.Address">
        update mall_address
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                county = #{county,jdbcType=VARCHAR},
            </if>
            <if test="addressDetail != null">
                address_detail = #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=CHAR},
            </if>
            <if test="postalCode != null">
                postal_code = #{postalCode,jdbcType=CHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newland.mall.entity.Address">
        update mall_address
        set name = #{name,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        county = #{county,jdbcType=VARCHAR},
        address_detail = #{addressDetail,jdbcType=VARCHAR},
        area_code = #{areaCode,jdbcType=CHAR},
        postal_code = #{postalCode,jdbcType=CHAR},
        tel = #{tel,jdbcType=VARCHAR},
        is_default = #{isDefault,jdbcType=BIT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        deleted = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="listByUserIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_address
        <where>
            deleted = 0
            <if test="userId!=null">and user_id =#{userId}</if>
            <if test="name!=null and name !=''">
                <bind name="namePattern" value="'%' + _parameter.name + '%'"/>
                and name like namePattern
            </if>
        </where>
    </select>
    <update id="resetDefault">
        update mall_address
        set is_default = 0
        where user_id =#{userId}
    </update>
    <select id="getDefautlByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_address where deleted = 0 and is_default = 1 and user_id = #{userId}
    </select>
    <select id="getByIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_address where id = #{addressId} and deleted = 0 and user_id = #{userId}
    </select>
</mapper>