<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.newland.mall.entity.Cart">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="checked" jdbcType="BIT" property="checked" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, goods_id, goods_name, product_id, product_sn, status, price, number,
        checked, pic_url, create_time, update_time, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from mall_cart
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_cart
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.newland.mall.entity.Cart">
        insert into mall_cart (id, user_id, goods_id,
        goods_name, product_id, product_sn,
        status, price, number,
        checked, pic_url, create_time,
        update_time, deleted)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT},
        #{goodsName,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT}, #{productSn,jdbcType=VARCHAR},
        #{status,jdbcType=BIT}, #{price,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER},
        #{checked,jdbcType=BIT}, #{picUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.newland.mall.entity.Cart">
        insert into mall_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productSn != null">
                product_sn,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="checked != null">
                checked,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productSn != null">
                #{productSn,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=BIT},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.Cart">
        update mall_cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productSn != null">
                product_sn = #{productSn,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                checked = #{checked,jdbcType=BIT},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newland.mall.entity.Cart">
        update mall_cart
        set user_id = #{userId,jdbcType=BIGINT},
        goods_id = #{goodsId,jdbcType=BIGINT},
        goods_name = #{goodsName,jdbcType=VARCHAR},
        product_id = #{productId,jdbcType=BIGINT},
        product_sn = #{productSn,jdbcType=VARCHAR},
        status = #{status,jdbcType=BIT},
        price = #{price,jdbcType=DECIMAL},
        number = #{number,jdbcType=INTEGER},
        checked = #{checked,jdbcType=BIT},
        pic_url = #{picUrl,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        deleted = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="deleteLogicalByPrimaryKey" parameterType="java.lang.Long">
        update mall_cart
        set deleted = 1 where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByProductId">
        update mall_cart
        set goods_name = #{goodsName},
            price      = #{price},
            pic_url    = #{picUrl},
            product_sn   = #{productSn}
        where product_id = #{productId}
    </update>
    <select id="listByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_cart
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="getByGoodsIdAndProductIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_cart
        where goods_id = #{goodsId} and product_id= #{productId} and user_id = #{userId}
    </select>
    <update id="deleteByUserIdAndProductIds">
        update mall_cart set deleted=1
        where user_id = #{userId} and product_id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">#{productId}</foreach>
    </update>
    <update id="deleteByProductIds">
        update mall_cart set deleted=1
        where product_id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">#{productId}</foreach>
    </update>
    <update id="updateCheck">
        update mall_cart set checked = #{checked}
        where user_id = #{userId} and product_id in
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">#{productId}</foreach>
    </update>
    <update id="deleteByUserId">
        update mall_cart
        set deleted = 1
        where user_id = #{userId}
    </update>
</mapper>