<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.newland.mall.entity.Category">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="sort_order" jdbcType="TINYINT" property="sortOrder"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, keywords, description, pid, icon_url, pic_url, level, sort_order, create_time, update_time,
        deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where id = #{id,jdbcType=BIGINT} and deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from mall_category
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="deleteLogicalByPrimaryKey">
        update mall_category
        set deleted = 1
        where id = #{id}
    </update>
    <insert id="insert" parameterType="com.newland.mall.entity.Category">
        insert into mall_category (id, name, keywords,
                                   description, pid, icon_url,
                                   pic_url, level, sort_order,
                                   create_time, update_time, deleted)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{iconUrl,jdbcType=VARCHAR},
                #{picUrl,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{sortOrder,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.newland.mall.entity.Category">
        insert into mall_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="iconUrl != null">
                icon_url,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="iconUrl != null">
                #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.Category">
        update mall_category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="iconUrl != null">
                icon_url = #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newland.mall.entity.Category">
        update mall_category
        set name        = #{name,jdbcType=VARCHAR},
            keywords    = #{keywords,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            pid         = #{pid,jdbcType=INTEGER},
            icon_url    = #{iconUrl,jdbcType=VARCHAR},
            pic_url     = #{picUrl,jdbcType=VARCHAR},
            level       = #{level,jdbcType=VARCHAR},
            sort_order  = #{sortOrder,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            deleted     = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="listByPid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where pid = #{pid} and deleted = 0
    </select>
    <select id="listByLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_category
        where level = #{level} and deleted = 0
    </select>
    <select id="listChannels" resultMap="BaseResultMap">
        select id, name, icon_url
        from mall_category
        where deleted = 0
          and level = 'L1'
    </select>
    <select id="listL1WithoutRecommend" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_category where deleted = 0 and level = 'L1' and name not like '%推荐%'
    </select>
</mapper>