<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.GoodsAttributeCategoryMapper">
    <resultMap id="BaseResultMap" type="com.newland.mall.entity.GoodsAttributeCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="attribute_count" jdbcType="INTEGER" property="attributeCount"/>
        <result column="param_count" jdbcType="INTEGER" property="paramCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <resultMap id="ResultWithAttrMap" type="com.newland.mall.model.vo.GoodsAttributeCategoryItemVo" extends="com.newland.mall.mapper.GoodsAttributeCategoryMapper.BaseResultMap">
        <collection property="productAttributeList" columnPrefix="attr_" resultMap="com.newland.mall.mapper.GoodsAttributeMapper.BaseResultMap">
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, attribute_count, param_count, create_time, update_time, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_attribute_category
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_goods_attribute_category
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.newland.mall.entity.GoodsAttributeCategory">
        insert into mall_goods_attribute_category (id, name, attribute_count,
        param_count, create_time, update_time,
        deleted)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{attributeCount,jdbcType=INTEGER},
        #{paramCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.newland.mall.entity.GoodsAttributeCategory">
        insert into mall_goods_attribute_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="attributeCount != null">
                attribute_count,
            </if>
            <if test="paramCount != null">
                param_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="attributeCount != null">
                #{attributeCount,jdbcType=INTEGER},
            </if>
            <if test="paramCount != null">
                #{paramCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.GoodsAttributeCategory">
        update mall_goods_attribute_category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="attributeCount != null">
                attribute_count = #{attributeCount,jdbcType=INTEGER},
            </if>
            <if test="paramCount != null">
                param_count = #{paramCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="deleteLogicalByPrimaryKey" parameterType="java.lang.Long">
        update mall_goods_attribute_category
        set deleted = 1 where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_attribute_category
        where name = #{name} and deleted = 0
    </select>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_attribute_category
        where deleted = 0 order by id asc
    </select>
    <select id="listWithAttr" resultMap="ResultWithAttrMap">
        SELECT
        pac.id,
        pac.name,
        pa.id attr_id,
        pa.name attr_name
        FROM
        mall_goods_attribute_category pac
        LEFT JOIN mall_goods_attribute pa ON pac.id = pa.product_attribute_category_id
        AND pa.type=1;
    </select>
</mapper>