<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.GoodsSaleAttrMapper">
    <resultMap id="BaseResultMap" type="com.newland.mall.entity.GoodsSaleAttr">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_attr_id" jdbcType="BIGINT" property="goodsAttrId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <resultMap id="ResultWithSpecMap" type="com.newland.mall.model.vo.GoodsSaleAttrVo"
               extends="com.newland.mall.mapper.GoodsSaleAttrMapper.BaseResultMap">
        <collection property="goodsSpecs" columnPrefix="spec_"
                    resultMap="com.newland.mall.mapper.GoodsSpecMapper.BaseResultMap">
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id, goods_id, goods_attr_id, name, pic_url, create_time, update_time, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_sale_attr
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_goods_sale_attr
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.newland.mall.entity.GoodsSaleAttr">
        insert into mall_goods_sale_attr (id, goods_id, goods_attr_id,
        name, pic_url, create_time,
        update_time, deleted)
        values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsAttrId,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.newland.mall.entity.GoodsSaleAttr">
        insert into mall_goods_sale_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsAttrId != null">
                goods_attr_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsAttrId != null">
                #{goodsAttrId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.GoodsSaleAttr">
        update mall_goods_sale_attr
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="goodsAttrId != null">
                goods_attr_id = #{goodsAttrId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newland.mall.entity.GoodsSaleAttr">
        update mall_goods_sale_attr
        set goods_id = #{goodsId,jdbcType=BIGINT},
        goods_attr_id = #{goodsAttrId,jdbcType=BIGINT},
        name = #{name,jdbcType=VARCHAR},
        pic_url = #{picUrl,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        deleted = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="deleteLogicalByPrimaryKey" parameterType="java.lang.Long">
        update mall_goods_sale_attr
        set deleted = 1 where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="listWithSpecByGoodsId" resultMap="ResultWithSpecMap">
        select
        t1.id, t1.goods_id, t1.goods_attr_id, t1.name, t1.pic_url, t1.create_time, t1.update_time,
        t2.id as spec_id, t2.goods_id as spec_goods_id, t2.sale_attr_id as spec_sale_attr_id, t2.goods_attr_id as
        spec_goods_attr_id, t2.goods_value_id as spec_goods_value_id, t2.name as spec_name, t2.value as spec_value
        from mall_goods_sale_attr t1 left join mall_goods_spec t2 on t1.id = t2.sale_attr_id
        where t1.goods_id = #{goodsId} and t1.deleted = 0
    </select>
    <select id="listByGoodsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_sale_attr
        where goods_id = #{goodsId} and deleted = 0
    </select>
</mapper>