<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newland.mall.mapper.GoodsGroupAttrRelationMapper">
  <resultMap id="BaseResultMap" type="com.newland.mall.entity.GoodsGroupAttrRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_attr_id" jdbcType="BIGINT" property="goodsAttrId" />
    <result column="goods_group_id" jdbcType="BIGINT" property="goodsGroupId" />
    <result column="goods_category_id" jdbcType="BIGINT" property="goodsCategoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_attr_id, goods_group_id, goods_category_id, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_goods_group_attr_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_goods_group_attr_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newland.mall.entity.GoodsGroupAttrRelation">
    insert into mall_goods_group_attr_relation (id, goods_attr_id, goods_group_id, 
      goods_category_id, create_time, update_time, 
      deleted)
    values (#{id,jdbcType=BIGINT}, #{goodsAttrId,jdbcType=BIGINT}, #{goodsGroupId,jdbcType=BIGINT}, 
      #{goodsCategoryId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.mall.entity.GoodsGroupAttrRelation">
    insert into mall_goods_group_attr_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsAttrId != null">
        goods_attr_id,
      </if>
      <if test="goodsGroupId != null">
        goods_group_id,
      </if>
      <if test="goodsCategoryId != null">
        goods_category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsAttrId != null">
        #{goodsAttrId,jdbcType=BIGINT},
      </if>
      <if test="goodsGroupId != null">
        #{goodsGroupId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryId != null">
        #{goodsCategoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.mall.entity.GoodsGroupAttrRelation">
    update mall_goods_group_attr_relation
    <set>
      <if test="goodsAttrId != null">
        goods_attr_id = #{goodsAttrId,jdbcType=BIGINT},
      </if>
      <if test="goodsGroupId != null">
        goods_group_id = #{goodsGroupId,jdbcType=BIGINT},
      </if>
      <if test="goodsCategoryId != null">
        goods_category_id = #{goodsCategoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.mall.entity.GoodsGroupAttrRelation">
    update mall_goods_group_attr_relation
    set goods_attr_id = #{goodsAttrId,jdbcType=BIGINT},
      goods_group_id = #{goodsGroupId,jdbcType=BIGINT},
      goods_category_id = #{goodsCategoryId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteLogicalByPrimaryKey" parameterType="java.lang.Long">
    update mall_goods_group_attr_relation
    set deleted = 1 where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>